*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/screenshoot
app/libs/
app/sampledata/
app/src/main/gen/
app/src/main/res/layout-v23/
app/src/main/res/layout-v26/
